<mat-toolbar color="primary">

    <h1>Tienda de libros</h1>

    <button mat-button routerLink="/" class="ml-1">
        Inicio
    </button>

    <button mat-button routerLink="/libros" class="ml-1">
        Libros
    </button>

    <button mat-button routerLink="/admin/libros" class="ml-1" *ngIf="true">
        Administrar
    </button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuCarrito" [matBadge]="items.length" matBadgePosition="before" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
    </button>

    <mat-menu #menuCarrito class="carrito-menu">

        <ng-container *ngIf="items.length > 0; else sinItems">

            <button mat-menu-item *ngFor="let item of items" class="carrito-item" [routerLink]="['libro', item.slug]">
            
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start">
    
                    <img [src]="item.urlPortada" [alt]="item.titulo" height="64">
                    <div class="info">
                        <div class="titulo truncate">{{ item.titulo }}</div>
                        <div class="precio">{{ item.precio | currency:'S/' }}</div>
                    </div>
    
                </div>
    
            </button>

            <button mat-menu-item class="ir-a-carrito" routerLink="/carrito">
                Ir a carrito
            </button>

        </ng-container>

        <ng-template #sinItems>
            <button mat-menu-item>
                El carrito está vacío
            </button>
        </ng-template>
        
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="menuUsuario" *ngIf="isLoggedIn(); else loginButton">
        <mat-icon>account_circle</mat-icon> {{ name }}
    </button>

    <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>

    <ng-template #loginButton>

        <button mat-button routerLink="/auth/login">
            Iniciar sesión
        </button>
    
        <button mat-raised-button routerLink="/auth/registro">
            Registrarse
        </button>

    </ng-template>

</mat-toolbar>


<div>

    <router-outlet></router-outlet>

</div>