<div class="container mt-5">

    <div class="row">


        <div class="col-md-8">
            <h2>Mis libros</h2>


            <table class="table mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>PRECIO</th>
                        <th>PUBLICADO</th>
                        <th>FEC. CREACION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of libros">
                        <td>{{ libro.id}}</td>
                        <td>{{ libro.titulo}}</td>
                        <td>{{ libro.precio}}</td>
                        <td>{{ libro.publicado}}</td>
                        <td>{{ libro.fechaCreacion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Nuevo Libro</h2>

            <app-reactive-form></app-reactive-form>
        </div>
    </div>
</div>